<div{{ attributes }}>
    <input type="number" data-model="counter">
    <br>
    Count: {{ counter }}

    <hr>

    <div {{ stimulus_controller('hello', {
        content: this.editorContent
    }) }}>
        <div>
            <button {{ stimulus_action('hello', 'bold') }}>Bold</button>
        </div>
        <div
            {{ stimulus_target('hello', 'input') }}
        ></div>
    </div>
</div>
